/**
 * Gallery.
 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.gallery__item {
  margin-bottom: 28px;

  &:nth-of-type(3n+2) {
    margin-right: 28px;
    margin-left: 28px;
  }
}
