/**
 * Header.
 */

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: $color-primary;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10vw;
  }
}

.logo {
  font-size: 36px;
  color: #fff;
}
