/**
 * Pro & Cons boxes.
 */

.pro-cons-boxes {
  display: flex;
}

.box {
  width: calc(50% - 28px);
  border-radius: 10px;
  padding: 28px 48px;
  background-image: url("../imgs/background.jpg");
  background-size: 100%;

  &:first-of-type {
    margin-right: 48px;
  }

  p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
