header.header
  .container
    a(href="index.html")
      span.icon-leaf.logo
    nav.site-navigation
      ul
        li
          a(href="index.html") Home
        li
          a(href="blog.html") Blog
        li
          a(href="credits.html") Credits
