header.header
  .container
    a(href="index.html")
      span.icon-leaf.logo
    nav.site-navigation
      ul
        li.nav__text
          a(href="index.html") Home
        li.nav__text
          a(href="credits.html") Credits
        li
          a(href="https://www.liceocuoconapoli.it/")
            img(src="imgs/V.cuoco.jpg", alt="")
