head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Ambiente
  // build:css(./.tmp) styles/libs.css
  link(rel="stylesheet" src="../node_modules/normalize.css/normalize.css")
  // endbuild
  // build:css(./.tmp) styles/main.css
  link(rel="stylesheet", href="styles/main.css")
  // endbuild
