doctype html
html
  include ./base/_head.pug
  body
    include ./base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small.container__article
        h1 Australia in fumo
        .conteiner__text
          .text__initial
            img(src="imgs/Australia1.jpeg", alt="")
            p In questo ultimo anno sono stati arrecati gravi danni al nostro
              | pianeta a causa dell’innalzamento delle temperature dovute al
              | riscaldamento globale. Tutto ciò causato dall’inquinamento
              | prodotto dagli esseri umani durante tutti questi anni.
            p Ultimamente, da circa circa 4 mesi, nello stato australiano sono
              |  in corso più di
              a(href="https://www.ilpost.it/2020/01/05/incendi-australia-nuovo-galles-sud/")  200 incendi
              |  che stanno distruggendo gravemente
              | la parte sud-est del paese.Il 4 gennaio 2020 Sydney ha registrato
              | temperature record,
              a(href="https://www.corriere.it/esteri/20_gennaio_05/incendi-australia-bilancio-sale-24-morti-temperature-record-d2733504-2f74-11ea-8ee1-1d9fce076d0e.shtml?refresh_ce-cp")  48,9 gradi
              |  registrati a Penrith, un sobborgo occidentale.
              | La regina Elisabetta II ha inviato un messaggio di cordoglio al
              | governatore generale dell'Australia in cui afferma di essere
              | "profondamente rattristata" dagli incendi, e ringrazia le forze
              | dell’ordine e i vigili del fuoco "che hanno messo le loro vite
              | in pericolo" per aiutare la popolazione. Anche attori, sportivi,
              | cantanti hanno partecipato a una raccolta di fondi per sostenere
              | i vigili del fuoco e le comunità colpite dagli incendi. 
          .text__second
            p Ma gli interventi fin’ora attuati non sono abbastanza ed il primo ministro Scott Morrison sin dall'inizio ha minimizzato quanto sta accadendo in Australia bollando gli incendi come
              a(href="https://www.what-u.com/2019/12/21/australia-in-fiamme-il-premier-scott-morrison-criticato-per-essere-andato-in-vacanza-alle-hawaii/")  "normali"
              |  per il paese e godendosi le vacanze di Natale alle Hawaii ritornando solamente dopo la morte di due pompieri e una valanga di critiche ricevute. Morrison non avrebbe comunque intenzione di modificare le politiche della coalizione liberal-conservatrice pensate per affrontare l’emergenza climatica. Mentre il vicepremier Michael McCormack
              a(href="https://left.it/2020/01/03/laustralia-va-in-fumo-mentre-il-governo-nega-il-climate-change/")  non crede neanche al collegamento tra i roghi e il cambiamento climatico.
          .container.container__video__article
            iframe.video--small(src="https://www.youtube.com/embed/VTZgJcGSFQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .text__third
            p intanto i numerosi incendi hanno ormai raso al suolo oltre 6 milioni
              | di ettari del territorio (il doppio dell’area del Belgio) provocando
              | l'emissione di circa
              a(href="https://www.lifegate.it/persone/news/australia-gli-incendi-boschivi-hanno-provocato-lemissione-di-250-milioni-di-tonnellate-di-co2")  250 milioni di tonnellate di CO2.
              |  Il fumo e la cenere sono arrivati fino in Nuova Zelanda, dove le
              | nevi e i ghiacciai sono ricoperti da uno strato di polveri marrone.
              | Ogni giorno il fuoco si espande sempre più costringendo i cittadini
              | a scappare dalle loro case e minacciando numerosi villaggi.
              | Le autorità hanno avuto difficoltà a rilevare i danni dovuti alla
              | forte copertura di fumo e all'impossibilità di accedere alle comunità
              | isolate. La scarsa qualità dell'aria a causa del fumo a Canberra
              | ha causato
              a(href="https://www.adnkronos.com/fatti/esteri/2020/01/05/incendi-australia-cosa-sta-succedendo_ZpdmcY5bWHMJ2WQHoiQvNL.html")  la chiusura di aziende, istituzioni pubbliche e università,
              | così come la cancellazione dei voli e la sospensione del servizio postale.
            p Questa catastrofe però non si limita a danneggiare case e abitanti,
              | ma soprattutto gli animali. Gli incendi in Australia hanno causato
              | la morte di
              a(href="https://guidominciotti.blog.ilsole24ore.com/2020/01/03/mezzo-miliardo-animali-uccisi-dagli-incendi-australia/")  mezzo miliardo di animali
              |  e la lista è destinata ad
              | allungarsi ulteriormente dato che le fiamme continuano ad ardere.
              | Non esiste più l'habitat naturale di moltissimi animali che non
              | sapendo dove scappare rimangono avvolti tra le fiamme. Ormai
              a(href="https://www.repubblica.it/ambiente/2019/12/27/news/australia_il_30_dei_koala_e_morto_negli_incendi-244485506/")  il 30% dei koala sono morti a causa delle fiamme
              |  e sono a rischio estinzione.
            img.img(src="imgs/Australia2.jpeg")
            p Nella foto un giovane canguro muore bruciato vivo intrappolato dal filo spinato che l'uomo ha messo a protezione del bestiame. Quello stesso che ha causato questo inferno di fuoco.
          .sign
            a(href="credits.html#CamillaSisto") di Camilla Sisto
    include ./base/_footer.pug
