doctype html
html
  include ./base/_head.pug
  body
    include ./base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small.container__article
        h1 Energie rinnovabili e non: perchè scegliere l'ecologico
        .conteiner__text
          .text__initial
            p
              | Se si parla  di energie rinnovabili si fa riferimento all’energia
              | pulita, ad esempio quelle fonti energetiche non soggette ad
              | esaurimento e il cui utilizzo non reca danni all’ ambiente, in
              | quanto la fonte di energia si rigenera . Un esempio è
              a(href="https://it.wikipedia.org/wiki/Energia_solare")  l’energia solare
              |  utilizzata per produrre non solo calore ma anche, grazie
              | alla tecnologia fotovoltaica, elettricità. Poi, va citata
              a(href="https://it.wikipedia.org/wiki/Energia_eolica")  l’energia eolica
              |  , ovvero la fonte di energia generata dallo spostamento continuo
              | delle masse d’aria, convertite in energia meccanica o elettrica.
              | Altri esempi di energie rinnovabili sono
              a(href="https://it.wikipedia.org/wiki/Energia_marina")  l’energia marina
              |  e
              a(href="https://it.wikipedia.org/wiki/Energia_idroelettrica")  l’energia idroelettrica
              |  : la prima è prodotta dalle maree ,mentre la seconda sfrutta
              | il movimento di grandi masse di acqua che, in caduta, producono energia
              | cinetica la quale a sua volta è trasformata, grazie a una turbina ,
              | in energia elettrica.
            img.img--small(src="imgs/energie-rinnovabili1.jpeg", alt="")
            h2 Vantaggi del rinnovabile
            p
              | Per definizione, le energie rinnovabili non si esauriscono mai. Si tratta di una convenzione efficace: sappiamo che il Sole prima o poi esploderà, ma siccome ci vorranno millenni, possiamo definire l’energia solare un’energia rinnovabile e infinita.
              | Oltre a questo vantaggio evidente, se ne possono elencare diversi:
            ul
              li 1) Non ci sono emissioni inquinanti o rifiuti da smaltire. Per l’ambiente è una boccata di ossigeno e per te significa un netto risparmio sulle spese di smaltimento dei rifiuti;
              li 2) L’energia rinnovabile è economica e alla portata di tutti. Con lo sviluppo della tecnologia, si sta lavorando a impianti che costano sempre meno e che producono sempre di più in termini di energia.
              li 3) Si possono utilizzare più fonti di energia. Le energie rinnovabili si possono sfruttare in sinergia tra loro. L’unione fa la forza e questo vale soprattutto nel rinnovabile: se non c’è il sole, potrai usare l’energia del vento. Quando il Sole rispunterà all’orizzonte, allora non utilizzerai la forza del vento. Anche qui, si stanno studiando le tecnologie necessarie.
              li 4) L’energia rinnovabile si traduce in posti di lavoro. Se le centrali che usano fonti inquinanti chiudono per l’aumento dei costi legati a queste forme di energia, le centrali che sfruttano l’energia pulita aprono, anche grazie agli incentivi statali
          .container.container__video__article
            iframe.video--small(src="https://www.youtube.com/embed/k7zFNmQKTdg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .text__third
            p
              | Le principali fonti d’energia del mondo contemporaneo restano le
              | fonti non rinnovabili, risorse limitate che possono essere utilizzate
              | solo una volta e che non si riproducono naturalmente. Devono per
              | forza ricondursi a queste forme di energia non rinnovabili i 
              | combustibili fossili (petrolio, carbone e gas naturale) e le fonti
              | nucleari (uranio e plutonio). Con una produzione di circa 3,5 miliardi
              | di tonnellate annue, un esempio di fonte non rinnovabile è il
              a(href="https://it.wikipedia.org/wiki/Petrolio")  petrolio
              |  che è la principale fonte d’energia, ma l’oro nero non è inesauribile
              | infatti si prevede che l’esaurimento dei giacimenti ci sarà intorno al 2050.
              | Seconda fonte d’energia, il
              a(href="https://it.wikipedia.org/wiki/Carbone")  carbone
              |  è il combustibile fossile più
              | diffuso con una produzione che supera ogni anno i 4 milioni di tonnellate.
              | Caratterizzato da bassi costi energetici e dalla possibilità di essere
              | convertito in combustibili liquidi e gassosi ad alto rendimento energetico,
              | il carbone presenta elevati tassi d’inquinamento riconducibili
              |  alle emissioni di anidride carbonica e di ossidi di zolfo derivanti
              | dalla sua combustione.
              | Terza fonte d’energia, i
              a(href="https://it.wikipedia.org/wiki/Gas_naturale")  gas naturali
              |  vantano una produzione annua che oltrepassa di buona misura i 2300 miliardi di metri cubi: il gas naturale presenta elevati costi di trasporto, in considerazione del fatto che può essere distribuito a pressione attraverso gasdotti oppure trasferito liquido a basse temperature attraverso navi metaniere.
              | Passando alle
              a(href="https://it.wikipedia.org/wiki/Energia_nucleare")  fonti nucleari,
              |  la fissione è la modalità di produzione energetica attualmente utilizzata. Questo metodo però produce svariati rifiuti tossici
            h2 Vantaggi e Svantaggi del non rinnovabile
            p
              | Le fonti di energia non rinnovabili rappresentano ancora la fonte di energia più conveniente, in quanto sono versatili e si prestano bene agli usi più svariati. Alcune di esse inoltre sono piuttosto facili da trasportare, come nel caso del gas naturale.
              | Dall’altro lato vi sono numerosi svantaggi delle energie non rinnovabili. Una volta che le fonti di energia non rinnovabili sono esaurite, i loro giacimenti non possono essere sostituiti o rivitalizzati nel breve periodo.
              | L’estrazione dell’energia non rinnovabile e dei suoi sottoprodotti provoca danni irreparabili all’ambiente. La combustione dei gas e degli altri combustibili fossili continua ad aumentare, producendo elevati livelli di anidride carbonica (CO2) che i climatologi ritengono sia una delle principali cause del riscaldamento globale.
            img.img(src="imgs/energie-rinnovabili2.jpeg")
          .sign
            a(href="credits.html#AntonioMusto") di Antonio Musto
    include ./base/_footer.pug
