doctype html
html
  include ./base/_head.pug
  body
    include ./base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small.container__article
        h1 Greta Thunberg, eroina o burattino?
        .conteiner__text
          .text__initial
            p
              a(href="https://it.wikipedia.org/wiki/Greta_Thunberg") Greta Thunberg,
              |  giovane studentessa svedese nata nel 2003 che sta
              | sensibilizzando all'azione un'intera generazione, è  l'ideatrice dei
              a(href="https://www.fridaysforfuture.org/")  Fridays For Future
              |  e l'artefice delle manifestazioni per promuovere
              | politiche e comportamenti sostenibili. Il Time l’ha eletta
              a(href="https://time.com/person-of-the-year-2019-greta-thunberg-choice/")  personaggio dell’anno 2019
              |  ed è stata candidata al Premio Nobel per la pace.
          .text__second
            p.p2 Si è presentata nei principali
              |  meeting internazionali dove ha accusato senza possibilità di appello
              |  capi di Stato e imprenditori annunciando l'imminente
              | cambiamento, per la salvaguardia del pianeta,
              a(href="https://tg24.sky.it/ambiente/approfondimenti/chi-e-greta-thunberg.html")  "malato" di riscaldamento globale.
            img.img.p2(src="imgs/images.jpg")
            p.p1 Greta dice cose importanti con l’immediatezza e il coraggio degli
              |  adolescenti: è difficile non essere d’accordo con lei. Tuttavia il messaggio ha multiple implicazioni e significati, probabilmente non tutti intenzionali, e suscita nel pubblico sentimenti contrastanti che richiedono analisi.
          .container.container__video__article
            iframe.video--small(src="https://www.youtube.com/embed/AY_S7n3jkkU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .text__third
            p Greta è una contestatrice: critica il nostro modello di sviluppo, l’industria, la finanza e la politica. Ai giovani piace per questa sua dimensione di Davide contro Golia. Inoltre non ci sono dubbi che il riscaldamento globale, l’inquinamento e il consumo di risorse non rinnovabili siano problemi gravissimi. Però Greta non lancia il suo allarme sulla base di misure effettuate da lei stessa: prende le sue informazioni da scienziati e da divulgatori della scienza.
              |Greta implicitamente dice che responsabilità significa riconoscere i punti di vista della scienza, dell’industria, della finanza e scegliere da che parte stare. E ciò entra in conflitto con una propaganda populistica che vorrebbe identificare come casta e riunire insieme tutte le parti che non corrispondono al “popolo“: come se il popolo fosse un’entità unica e omogenea, anziché un insieme di persone che si riconoscono in parti sociali diverse.
            p Il modello di sviluppo che lei contesta è in crisi e tende a esaurire le risorse del pianeta: ma uscirne non è facile né passa per strade ovvie. D’altra parte questo modello di sviluppo ha prodotto il tessuto stesso della nostra civiltà: farmaci, salute, cultura, assistenza degli anziani, etc. Di fatto, consumo energetico e inquinamento sono finora aumentati di pari passo con l’aspettativa di vita, coi diritti e con l’alfabetizzazione.
              | Le disuguaglianze nell’accesso alle risorse vanificano in parte questi effetti e certamente sarebbe possibile far aumentare l’aspettativa di vita media della popolazione mondiale, agendo sulla redistribuzione delle risorse piuttosto che sull’incremento della loro produzione: il primo mondo perderebbe poco rispetto a ciò che il terzo mondo guadagnerebbe.
              |Purtroppo però i giovani preferisco sentire parlare Greta di clima piuttosto che degli scienziati, che, come afferma anche Massimo Cacciari, potrebbero
            .reference
              a(href="https://www.fulldassi.it/amp/massimo-cacciari-contro-greta-thunberg/") “partecipare a seminari autogestiti per raccontare come va il clima e per comprendere problemini che sfuggono totalmente alla bambina”
            p anche perché Greta propone modelli di comportamento semplicisti, ma generalizzabili. Preferire il treno all’aereo o ridurre l’uso della plastica sono comportamenti che nei limiti della ragionevolezza tutti potremmo e dovremmo attuare. Quando però il contestatore propone un modello di comportamento che applica a se stesso oltre che ai contestati, crea un certo imbarazzo nei suoi seguaci: il suo messaggio si trasforma da “è colpa degli altri”, a “è colpa degli altri, ma anche nostra”.
              | Nonostante alcuni aspetti criticabili, il messaggio di Greta è valido: centra un problema gravissimo, il riscaldamento globale, dà l’indicazione giusta (seguire le indicazioni degli scienziati), sensibilizza un pubblico vasto. Quindi, seppure con qualche cautela,  Greta Thunberg è sicuramente un personaggio positivo per gli adolescenti
            img.img(src="imgs/variant-med_1200x630-obj17612574.jpg")
          .sign
            a(href="credits.html#AlessioPadulano") di Alessio Padulano
    include ./base/_footer.pug
