doctype html
html
  include ./base/_head.pug
  body
    include ./base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small.container__article
        h1 L'industria del pregresso
        .conteiner__text
          .text__initial
            p La sensibilità nei confronti dell’ambiente è un qualcosa con cui
              | tutti ci confrontiamo ogni giorno, così come l’inquinamento
              | industriale è una questione che riguarda il nostro quotidiano.
              | Una forte presa di coscienza sui problemi causati dall'
              a(href="http://www.energia360.org/Inquinamento_industriale.html") inquinamento industriale
              | , ed in particolare da cancerogeni, i cui effetti a
              | lungo termine sovrastano quelli acuti, è avvenuta nel mondo
              | occidentale a partire dagli anni settanta.
            img.img--small(src="imgs/inquinamento.jpg", alt="")
          .text__second
            p Venne all'epoca introdotto, per la prima volta,
              a(href="https://www.dorabaltea.com/trattamento-acque-reflue-ricapitoliamo-le-normative/")  l'obbligatorietà della depurazione di scarichi
              | ,
              a(href="https://www.dorabaltea.com/trattamento-acque-reflue-ricapitoliamo-le-normative/")  industriali e civili
              | , fermando quello che stava diventando un vero e proprio disastro ambientale
              | da scarichi industriali tossici senza regole. Parlando in termini
              | generali, l'inquinamento industriale è causato dallo scarico nel
              | terreno, nell'aria, nei fiumi e nei mari di sostanze tossiche,
              |spesso non biodegradabili, che provengono da lavorazioni diverse
              | e che possono causare danni irreversibili.
              | Ormai ne sentiamo parlare ovunque: sui giornali, per televisione,
              | nelle scuole e nelle università. Anche se non siamo ferrati
              | sull’argomento, per forza ci ritroviamo ad affrontarlo e a
              | riflettere sulle
              a(href="http://www.ic10bo.gov.it/besta/lavoro/rapporto_uomo_ambiente/inindus.htm")  problematiche ad esso connesse
              | .
          .container.container__video__article
            iframe.video--small(src="https://www.youtube.com/embed/fbQ1O_pT1k0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .text__third
            p Questo vale ancor di più per chi lavora all’interno di un’azienda
              | che opera nel settore chimico, che per sua stessa natura può
              | provocare un alto tasso di inquinamento. Va detto che ogni
              | attività umana porta con sé un’inevitabile produzione di sostanze
              | pericolose, spesso chimiche, che possono danneggiare l'ambiente
              | quando vengono sversate: per esempio a causa di un incidente, o
              | per il danneggiamento di un fusto, una cisterna o una conduttura.
              a(href="https://info.serpac.it/blog/come-e-perch%C3%A9-limitare-linquinamento-industriale-nel-settore-chimico") Le sostanze più inquinanti sono: acidi, cloro, ammoniaca, metalli pesanti, alcali.
            p Poi abbiamo anche i vari oli e detergenti, nonché tutte le sostanze
              | e i veleni che non sono degradabili. Queste possono interagire
              |  con altre sostanze presenti nell’ambiente, dando vita a nuove
              |  sostanze tossiche.I tossici che le industrie liberano nell'atmosfera,
              | modificano significativamente la composizione chimica dell'aria,
              | con danni a volte irreparabili sia per l'ambiente e gli edifici,
              | sia causando malattie, principalmente
              a(href="https://www.msdmanuals.com/it-it/casa/disturbi-polmonari-e-delle-vie-respiratorie/pneumopatie-ambientali/malattia-da-inquinamento-dell%E2%80%99aria") polmonari, dermatologiche, immunitarie ed epatiche,
              |  nonché diverse
              a(href="https://www.msdmanuals.com/it-it/casa/disturbi-polmonari-e-delle-vie-respiratorie/pneumopatie-ambientali/malattia-da-inquinamento-dell%E2%80%99aria")  forme tumorali
            p Nelle città industrializzate, l'anidride solforosa presente viene
              | trasformata in anidride solforica per attivazione dei raggi
              | solari e successiva ossidazione, causando così la precipitazione
              | di pioggia acida per acido solforico. Come detto, le sostanze
              | inquinanti delle industrie raggiungono anche le acque dei fiumi
              | e dei mari, causando ad esempio nel caso dell'eutrofizzazione un
              | eccessivo sviluppo di alghe e la conseguente moria dei pesci per
              | anossia causata dalla morte e imputridimento delle stesse.
              | I prodotti della pesca, avendo assimilato sostanze chimiche e/o
              | radioattive, possono provocare danni alla salute dell'uomo.
            img.img(src="imgs/morte-inquinamento.jpg")
          .sign
            a(href="credits.html#AlessioProvitera") di Alessio Provitera
    include ./base/_footer.pug
