doctype html
html
  include ./base/_head.pug
  body
    include ./base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small.container__article
        h1 La sindrome di Venere
        .conteiner__text
          .text__initial
            .reference
              a(href="http://www.climatemonitor.it/?p=14347") “Nella scienza, bisogna infatti valutare proprio le informazioni che sembrano discordare dall’ipotesi iniziale, per essere sicuri di non stare ingannando se stessi” J.Hansen
            p
              a(href="https://it.wikipedia.org/wiki/James_Hansen") James Hansen
              |  è un astrofisico e climatologo statunitense,a capo del
              a(href="https://www.giss.nasa.gov") Goddard Institute for Space Studies della NASA
              | nella città di New York, professore alla Columbia University e scrittore del suo primo libro intitolato
              a(href="https://www.climalteranti.it/2010/10/17/le-tempeste-dei-nipotini-di-hansen") "tempeste"(Storm of my Granchildren)
              | dove appunto si parla della "sindrome di venere".
          .text__second
            p Quello di Hansen è un libro complesso che affronta una molteplicità
              | di argomenti, dalla politica alla scienza, il succo di esso si basa
              | sull'accusa che fa ai suoi colleghi di essere troppo conservativi,
              | di non voler raccontare i veri rischi che corriamo con l'avvento
              |  e lo sviluppo del riscaldamento globale, che sono molto più gravi
              |  e soprattutto più immediati di quanto si possa credere.
          .container.container__video__article
            iframe.video--small(src="https://www.youtube.com/embed/fWInyaMWBY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          .text__third
            p Secondo lui quello che si rischia è un "runaway greehouse effect"
              |  ovvero un effetto serra incontrollato, un riscaldamento talmente
              | intenso da causare l'estinzione di qualsiasi specie, compresa la
              | nostra. All'estremo, invece, potrebbe causare l'evaporazione di
              | ogni fonte licquida, che porterebbe alla sterilizzazione del pianeta,
              |  portandolo alla stessa condizione di Venere, pianeta già colpito
              |  dalla medesima motivazione.
            p Hensen ci ha detto, durante
              a(href="https://www.climalteranti.it/2010/11/25/james-hansen-in-italia/") un incontro a Roma datato 2011
              | , che l'approccio dei politici si limita a promesse vuote,infatti
              |  i politici continuano a permettere la crescita di centrali di carbone
              | e di fonti di combustibili non convenzionali come le sabbie bituminose
              | (rocce sedimentarie di sabbia e argilla, riempite da acqua e bitume).
              | Hansen ripete che:
            .reference
              a(href="https://www.ted.com/talks/james_hansen_why_i_must_speak_out_about_climate_change/transcript") “I combustibili fossili sono troppo economici, perchè nessuno imputa loro i costi,le esternalità del loro uso, bisogna renderli meno competitivi rispetto alle alternative energetiche pulite. Come? Una tassa globalmente uniforme, e crescente, applicata a tutti i combustibili fossili alla fonte:ai pozzi e miniere o ai punti di sbarco, cioè al primo atto di vendita”
            p  Le  conclusioni degli scienziati  sono allarmanti. Si stima che le attività umane abbiano già causato circa +1,0 °C di riscaldamento globale. Se la temperatura continuasse ad aumentare al ritmo attuale, è probabile che si raggiungano
              a(href="https://www.ilfattoquotidiano.it/2018/11/08/cambiamenti-climatici-gli-scienziati-mandano-un-messaggio-terribile-ma-i-governi-non-ascoltano/4750518/")  +1,5 °C tra il 2030 e il 2052.
              |  L’inquietudine degli scienziati è manifestata dagli effetti irrimediabili che possono essere evitati solo se le emissioni globali di CO2 iniziano a diminuire ben prima del 2030, cosa del tutto improbabile. Per esempio entro il 2100 la crescita media su scala globale del livello del mare sarebbe più bassa di 10 cm. Se guardassimo sotto un punto di vista positivo un ritmo più lento di innalzamento del livello del mare consentirebbe maggiori opportunità di adattamento nei sistemi umani ed ecologici nelle piccole isole, nelle zone costiere basse e nei delta.
            p Le barriere coralline al contrario invece con un aumento di 1,5°C,
              a(href="https://www.notiziegeopolitiche.net/gli-scienziati-lanciano-lallarme-contenere-la-temperatura-del-pianeta-entro-l15/") diminuirebbero del 70-90%,
              | mentre con 2 °C
              a(href="https://www.notiziegeopolitiche.net/gli-scienziati-lanciano-lallarme-contenere-la-temperatura-del-pianeta-entro-l15/") se ne perderebbe praticamente la totalità (oltre il 99%)
              |  e si registrerebbe la scomparsa di un numero elevato di ecosistemi, con questo i rischi legati al clima per i sistemi naturali e umani diventerebbero più elevati e differenti da luogo a luogo.
            img.img(src="imgs/rs-142353-rectangle.jpg")
          .sign
            a(href="credits.html#FrancescaDiNunzio") di Francesca di Nunzio
    include ./base/_footer.pug
