include mixins/_mixin.list.pug
doctype html
html
  include base/_head.pug
  body
    include base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small
        h1 Partecipanti al progetto
        .partecipants
          ul
            +list("RiccardoElena", "Riccardo Elena" , "Designer e Sviluppatore Sito" , "imgs/Work1.jpg", "/index.html")
            +list("DiegoGuarino", "Diego Guarino" , "Direttore reparto media" , "imgs/Work2.jpg", "/index.html")
            +list("LorenzoGrasso", "Lorenzo Grasso" , "Scrittore contenuti dell'home page" , "imgs/Work3.jpg", "/index.html")
            +list("AlessioPadulano", "Alessio Padulano" , "Scrittore Articolo 'Greta Thunberg, eroina o burattino?'" , "imgs/Work4.jpg", "/article1.html")
            +list("FrancescaDiNunzio", "Francesca di Nunzio" , "Scrittrice articolo 'La sindrome di Venere'" , "imgs/Work5.jpg", "/article2.html")
            +list("CamillaSisto", "Camilla Sisto" , "Scrittrice articolo 'Australia in fumo'" , "imgs/Work6.jpg", "/article3.html")
            +list("AlessioProvitera", "Alessio Provitera" , "Scrittore articolo 'L'industria del pregresso'" , "imgs/Work7.jpg", "/article4.html")
            +list("AndreaMontagnaro", "Andrea Montagnaro" , "Scrittore articolo 'L'inquinamento dei mari'" , "imgs/Work8.jpg", "/article5.html")
            +list("AntonioMusto", "Antonio Musto" , "Scrittore articolo 'Energie rinnovabili e non: perchè scegliere l'ecologico'" , "imgs/Work9.jpg", "/article6.html")
      // Add your content here
    include base/_footer.pug
