include mixins/_mixin.list.pug
doctype html
html
  include base/_head.pug
  body
    include base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small
        h1 Partecipanti al progetto
        .partecipants
          ul
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Work1.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
            +list("Riccardo Elena" , "Designer e Sviluppatore Pagina" , "/imgs/Webp.net-resizeimage.jpg", "/index.html")
      // Add your content here
    include base/_footer.pug
