doctype html
html
  include base/_head.pug
  body
    include base/_header.pug
    main
      img.hero(src="imgs/hero.jpg")
      .container.container--small
        h1 GRETINA LA BUCCHINA
        .text__initial
          p Greta Thunberg, giovane studentessa svedese nata nel 2003 che sta
            | sensibilizzando all'azione un'intera generazione, è  l'ideatrice dei
            | Fridays For Future e l'artefice delle manifestazioni per promuovere
            | politiche e comportamenti sostenibili. Il Time l’ha eletta personaggio
            | dell’anno 2019
          img(src="imgs/articles/articles1/images.jpg")
